@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  height: 45px !important;
  border-radius: 2px !important;
  box-shadow: none !important;
  border: 1px solid #000 !important;
}

button {
  height: 45px !important;
  border-radius: 2px !important;
  box-shadow: none !important;
}

.cl-cardBox {
  box-shadow: none !important;
}
